<h1>Aling Nena's Shoutbox</h1>

<% form_for @message do |f| %>
  <%= f.error_messages %>

  <p> 
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 15 %>
  </p>
  <p>
    <%= f.label :message %><br />
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.submit "Leave Message:" %>
  </p>
<% end %>

<%= periodically_call_remote :url => message_table_messages_url, :method => :get, :update => "message_list", :frequency => 60 %>

<h2>Messages</h2>

<ul style="list-style-type:none;font-size:125%;line-height:150%" id="message_list">
  <%= render :partial => @messages %>
</ul>
