<% form_for(invoice, :url => purchase_invoice_path(purchase)) do |f| %> 
  <%= f.error_messages %>

  <p> 
    <label>Purchase</label><br /> 
    <%=h purchase.description %>
  </p>

  <p>
    <%= f.label :reference_number %><br />
    <%= f.text_field :reference_number %>
  </p>
 
  <p>
    <%= f.submit button_label %>
  </p>
<% end %> 

<%= link_to 'Back', purchase %>
