<h1>New invoice</h1>

<% form_for(@invoice) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :purchase_id, "Purchase" %><br />
    <%= f.collection_select :purchase_id, Purchase.all, :id, :description, :prompt => true, :disabled => lambda { |purchase| purchase.delivered_at > Date.today } %>
  </p>
  <p>
    <%= f.label :reference_number %><br />
    <%= f.text_field :reference_number %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', invoices_path %>
