<h1>Show Product</h1>
<p>
  <b>Name:</b>
  <%= h(@product.name) %> 
</p>
<p>
  <b>Description:</b>
  <%= h(@product.description) %>
</p>
<p>
  <b>Cost:</b>
  <%= number_to_currency(@product.cost, {:unit => 'PhP'}) %>
</p>
<p>
  <b>Stock:</b>
  <%= @product.stock %>
</p>

<%= link_to('Back to List of Products', { :action => 'index' }) %>
